BLUEPRINT-BACKUP-2026-01-10-BEFORE-JSON-BODY-TYPE.json
{
    "name": "Form App Property Submission",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2303330,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Form App Webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "source",
                        "type": "text"
                    },
                    {
                        "name": "action",
                        "type": "text"
                    },
                    {
                        "name": "formData",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "decisionTree",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "propertyType",
                                        "type": "text"
                                    },
                                    {
                                        "name": "contractType",
                                        "type": "text"
                                    },
                                    {
                                        "name": "lotType",
                                        "type": "text"
                                    },
                                    {
                                        "name": "dualOccupancy",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "address",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "propertyAddress",
                                        "type": "text"
                                    },
                                    {
                                        "name": "streetNumber",
                                        "type": "text"
                                    },
                                    {
                                        "name": "streetName",
                                        "type": "text"
                                    },
                                    {
                                        "name": "suburbName",
                                        "type": "text"
                                    },
                                    {
                                        "name": "state",
                                        "type": "text"
                                    },
                                    {
                                        "name": "postCode",
                                        "type": "text"
                                    },
                                    {
                                        "name": "lga",
                                        "type": "text"
                                    },
                                    {
                                        "name": "googleMap",
                                        "type": "text"
                                    },
                                    {
                                        "name": "addressVerified",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "addressFieldsEditable",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "stashPropertyAddress",
                                        "type": "text"
                                    },
                                    {
                                        "name": "latitude",
                                        "type": "number"
                                    },
                                    {
                                        "name": "longitude",
                                        "type": "number"
                                    },
                                    {
                                        "name": "addressSource",
                                        "type": "text"
                                    },
                                    {
                                        "name": "lotNumber",
                                        "type": "text"
                                    },
                                    {
                                        "name": "lotNumberNotApplicable",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "unitNumber",
                                        "type": "text"
                                    },
                                    {
                                        "name": "projectAddress",
                                        "type": "text"
                                    },
                                    {
                                        "name": "projectName",
                                        "type": "text"
                                    },
                                    {
                                        "name": "usePropertyAddressForProject",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "folderLink",
                                        "type": "text"
                                    },
                                    {
                                        "name": "folderName",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "riskOverlays",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "flood",
                                        "type": "text"
                                    },
                                    {
                                        "name": "bushfire",
                                        "type": "text"
                                    },
                                    {
                                        "name": "mining",
                                        "type": "text"
                                    },
                                    {
                                        "name": "otherOverlay",
                                        "type": "text"
                                    },
                                    {
                                        "name": "specialInfrastructure",
                                        "type": "text"
                                    },
                                    {
                                        "name": "dueDiligenceAcceptance",
                                        "type": "text"
                                    },
                                    {
                                        "name": "zoning",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "propertyDescription",
                                "type": "collection",
                                "spec": []
                            },
                            {
                                "name": "purchasePrice",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "cashbackRebateValue",
                                        "type": "text"
                                    },
                                    {
                                        "name": "cashbackRebateType",
                                        "type": "text"
                                    },
                                    {
                                        "name": "comparableSales",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "rentalAssessment",
                                "type": "collection",
                                "spec": []
                            },
                            {
                                "name": "marketPerformance",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "medianPriceChange3Months",
                                        "type": "text"
                                    },
                                    {
                                        "name": "medianPriceChange1Year",
                                        "type": "text"
                                    },
                                    {
                                        "name": "medianPriceChange3Year",
                                        "type": "text"
                                    },
                                    {
                                        "name": "medianPriceChange5Year",
                                        "type": "text"
                                    },
                                    {
                                        "name": "medianYield",
                                        "type": "text"
                                    },
                                    {
                                        "name": "medianRentChange1Year",
                                        "type": "text"
                                    },
                                    {
                                        "name": "rentalPopulation",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vacancyRate",
                                        "type": "text"
                                    },
                                    {
                                        "name": "isSaved",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "daysSinceLastCheck",
                                        "type": "number"
                                    }
                                ]
                            },
                            {
                                "name": "contentSections",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "investmentHighlights",
                                        "type": "text"
                                    },
                                    {
                                        "name": "proximity",
                                        "type": "text"
                                    },
                                    {
                                        "name": "whyThisProperty",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "agentInfo",
                                "type": "collection",
                                "spec": []
                            },
                            {
                                "name": "lots",
                                "type": "array",
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "lotNumber",
                                            "type": "text"
                                        },
                                        {
                                            "name": "singleOrDual",
                                            "type": "text"
                                        },
                                        {
                                            "name": "purchasePrice",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "cashbackRebateValue",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "cashbackRebateType",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "comparableSales",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "landPrice",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "buildPrice",
                                                    "type": "text"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "propertyDescription",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "bedsPrimary",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "bathPrimary",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "garagePrimary",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "landRegistration",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "landSize",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "buildSize",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "bodyCorpPerQuarter",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "bodyCorpDescription",
                                                    "type": "text"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "rentalAssessment",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "rentAppraisalPrimaryFrom",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "rentAppraisalPrimaryTo",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "appraisedYield",
                                                    "type": "text"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            },
                            {
                                "name": "packager",
                                "type": "text"
                            },
                            {
                                "name": "sourcer",
                                "type": "text"
                            },
                            {
                                "name": "sellingAgentName",
                                "type": "text"
                            },
                            {
                                "name": "sellingAgentEmail",
                                "type": "text"
                            },
                            {
                                "name": "sellingAgentMobile",
                                "type": "text"
                            },
                            {
                                "name": "sellingAgent",
                                "type": "text"
                            },
                            {
                                "name": "folderLink",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "folderLink",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 316,
                    "y": -1
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "code:ExecuteCode",
                            "version": 0,
                            "parameters": {},
                            "filter": {
                                "name": "Single Property",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.formData.decisionTree.lotType}}",
                                            "o": "text:notequal",
                                            "b": "Multiple"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "language": "javascript",
                                "input": [
                                    {
                                        "name": "fd",
                                        "value": "{{1.formData}}"
                                    }
                                ],
                                "dependencies": [],
                                "inputFormat": "editor",
                                "codeEditorJavascript": "// Access Module 1's output directly (no Input mapping needed)\nconst formData = input.fd;\n\n// Safety check\nif (!formData) {\n    throw new Error(\"No data received from Module 1.\");\n}\n\n// Get folderLink\nconst folderLink = formData.folderLink || null;\n\n// Helper: Ensure property_address is NEVER null (Required by GHL)\nconst requiredString = (val) => {\n    if (!val || val === \"\" || val === null) return \"No Address Provided\";\n    return String(val);\n};\n\nconst nullIfEmpty = (val) => (!val || val === \"\" ? null : val);\n\nconst toInteger = (val) => {\n    if (val === null || val === undefined || val === '') return null;\n    const num = parseInt(val, 10);\n    return isNaN(num) ? null : num;\n};\n\nconst toFloat = (val) => {\n    if (val === null || val === undefined || val === '') return null;\n    const num = parseFloat(val);\n    return isNaN(num) ? null : num;\n};\n\n// Build the complete payload\nconst payload = {\n  locationId: \"UJWYn4mrgGodB7KZUcHt\",\n  properties: {\n    property_address: requiredString(formData.address?.propertyAddress),\n    street_number: nullIfEmpty(formData.address?.streetNumber),\n    street_name: nullIfEmpty(formData.address?.streetName),\n    suburb_name: nullIfEmpty(formData.address?.suburbName),\n    state: nullIfEmpty(formData.address?.state),\n    post_code: nullIfEmpty(formData.address?.postCode),\n    lga: nullIfEmpty(formData.address?.lga),\n    unit__lot: nullIfEmpty(formData.address?.unitNumber),\n    unit__lot_secondary: nullIfEmpty(formData.address?.unitNumberSecondary),\n    google_map: nullIfEmpty(formData.address?.googleMap),\n    sourcer: nullIfEmpty(formData.sourcer?.replace(\"@buyersclub.com.au\", \"\")),\n    packager: nullIfEmpty(formData.packager?.replace(\"@buyersclub.com.au\", \"\")),\n    deal_type: nullIfEmpty(formData.decisionTree?.contractType),\n    status: nullIfEmpty(formData.decisionTree?.status),\n    folder_link: folderLink,\n    zoning: nullIfEmpty(formData.riskOverlays?.zoning),\n    flood: nullIfEmpty(formData.riskOverlays?.flood),\n    flood_dialogue: nullIfEmpty(formData.riskOverlays?.floodDialogue),\n    bushfire: nullIfEmpty(formData.riskOverlays?.bushfire),\n    bushfire_dialogue: nullIfEmpty(formData.riskOverlays?.bushfireDialogue),\n    mining: nullIfEmpty(formData.riskOverlays?.mining),\n    mining_dialogie: nullIfEmpty(formData.riskOverlays?.miningDialogue),\n    other_overlay: nullIfEmpty(formData.riskOverlays?.otherOverlay),\n    other_overlay_dialogue: nullIfEmpty(formData.riskOverlays?.otherOverlayDialogue),\n    special_infrastructure: nullIfEmpty(formData.riskOverlays?.specialInfrastructure),\n    special_infrastructure_dialogue: nullIfEmpty(formData.riskOverlays?.specialInfrastructureDialogue),\n    due_diligence_acceptance: nullIfEmpty(formData.riskOverlays?.dueDiligenceAcceptance),\n    beds_primary: nullIfEmpty(formData.propertyDescription?.bedsPrimary),\n    beds_additional__secondary__dual_key: nullIfEmpty(formData.propertyDescription?.bedsSecondary),\n    bath_primary: nullIfEmpty(formData.propertyDescription?.bathPrimary),\n    baths_additional__secondary__dual_key: nullIfEmpty(formData.propertyDescription?.bathSecondary),\n    garage_primary: nullIfEmpty(formData.propertyDescription?.garagePrimary),\n    garage_additional__secondary__dual_key: nullIfEmpty(formData.propertyDescription?.garageSecondary),\n    carport_primary: nullIfEmpty(formData.propertyDescription?.carportPrimary),\n    carport_additional__secondary__dual_key: nullIfEmpty(formData.propertyDescription?.carportSecondary),\n    carspace_primary: nullIfEmpty(formData.propertyDescription?.carspacePrimary),\n    carspace_additional__secondary__dual_key: nullIfEmpty(formData.propertyDescription?.carspaceSecondary),\n    year_built: nullIfEmpty(formData.propertyDescription?.yearBuilt),\n    land_size: nullIfEmpty(formData.propertyDescription?.landSize),\n    build_size: nullIfEmpty(formData.propertyDescription?.buildSize),\n    build_size_primary: nullIfEmpty(formData.propertyDescription?.buildSizePrimary),\n    build_size_secondary: nullIfEmpty(formData.propertyDescription?.buildSizeSecondary),\n    land_registration: nullIfEmpty(formData.propertyDescription?.landRegistration),\n    title: nullIfEmpty(formData.propertyDescription?.title),\n    body_corp__per_quarter: nullIfEmpty(formData.propertyDescription?.bodyCorpPerQuarter),\n    body_corp_description: nullIfEmpty(formData.propertyDescription?.bodyCorpDescription),\n    does_this_property_have_2_dwellings: nullIfEmpty(formData.propertyDescription?.singleOrDual),\n    property_description_additional_dialogue: nullIfEmpty(formData.propertyDescription?.additionalDialogue),\n    asking: nullIfEmpty(formData.purchasePrice?.asking),\n    asking_text: nullIfEmpty(formData.purchasePrice?.askingText),\n    accepted_acquisition_target: nullIfEmpty(formData.purchasePrice?.acceptedAcquisitionTarget),\n    acceptable_acquisition__from: toInteger(formData.purchasePrice?.acceptableAcquisitionFrom),\n    acceptable_acquisition__to: toInteger(formData.purchasePrice?.acceptableAcquisitionTo),\n    land_price: toInteger(formData.purchasePrice?.landPrice),\n    build_price: toInteger(formData.purchasePrice?.buildPrice),\n    total_price: toInteger(formData.purchasePrice?.totalPrice),\n    cashback_rebate_value: toInteger(formData.purchasePrice?.cashbackRebateValue),\n    cashback_rebate_type: nullIfEmpty(formData.purchasePrice?.cashbackRebateType),\n    comparable_sales: nullIfEmpty(formData.purchasePrice?.comparableSales),\n    purchase_price_additional_dialogue: nullIfEmpty(formData.purchasePrice?.purchasePriceAdditionalDialogue),\n    price_group: nullIfEmpty(formData.purchasePrice?.priceGroup),\n    occupancy: nullIfEmpty(formData.rentalAssessment?.occupancy),\n    occupancy_primary: nullIfEmpty(formData.rentalAssessment?.occupancyPrimary),\n    occupancy_secondary: nullIfEmpty(formData.rentalAssessment?.occupancySecondary),\n    current_rent_primary__per_week: toInteger(formData.rentalAssessment?.currentRentPrimary),\n    current_rent_secondary__per_week: toInteger(formData.rentalAssessment?.currentRentSecondary),\n    expiry_primary: nullIfEmpty(formData.rentalAssessment?.expiryPrimary),\n    expiry_secondary: nullIfEmpty(formData.rentalAssessment?.expirySecondary),\n    rent_appraisal_primary: nullIfEmpty(formData.rentalAssessment?.rentAppraisalPrimary),\n    rent_appraisal_primary_from: toInteger(formData.rentalAssessment?.rentAppraisalPrimaryFrom),\n    rent_appraisal_primary_to: toInteger(formData.rentalAssessment?.rentAppraisalPrimaryTo),\n    rent_appraisal_secondary: nullIfEmpty(formData.rentalAssessment?.rentAppraisalSecondary),\n    rent_appraisal_secondary_from: toInteger(formData.rentalAssessment?.rentAppraisalSecondaryFrom),\n    rent_appraisal_secondary_to: toInteger(formData.rentalAssessment?.rentAppraisalSecondaryTo),\n    yield: nullIfEmpty(formData.rentalAssessment?.yield),\n    appraised_yield: nullIfEmpty(formData.rentalAssessment?.appraisedYield),\n    rent_dialogue_primary: nullIfEmpty(formData.rentalAssessment?.rentDialoguePrimary),\n    rent_dialogue_secondary: nullIfEmpty(formData.rentalAssessment?.rentDialogueSecondary),\n    rental_assessment_additional_dialogue: nullIfEmpty(formData.rentalAssessment?.rentalAssessmentAdditionalDialogue),\n    median_price_change__3_months: toFloat(formData.marketPerformance?.medianPriceChange3Months),\n    median_price_change__1_year: toFloat(formData.marketPerformance?.medianPriceChange1Year),\n    median_price_change__3_year: toFloat(formData.marketPerformance?.medianPriceChange3Year),\n    median_price_change__5_year: toFloat(formData.marketPerformance?.medianPriceChange5Year),\n    median_yield: toFloat(formData.marketPerformance?.medianYield),\n    median_rent_change__1_year: toFloat(formData.marketPerformance?.medianRentChange1Year),\n    rental_population: toFloat(formData.marketPerformance?.rentalPopulation),\n    vacancy_rate: toFloat(formData.marketPerformance?.vacancyRate),\n    market_perfornance_additional_dialogue: nullIfEmpty(formData.marketPerformance?.marketPerformanceAdditionalDialogue),\n    why_this_property: nullIfEmpty(formData.contentSections?.whyThisProperty),\n    proximity: nullIfEmpty(formData.contentSections?.proximity),\n    investment_highlights: nullIfEmpty(formData.contentSections?.investmentHighlights),\n    agent_name: nullIfEmpty(formData.agentInfo?.name),\n    agent_mobile: nullIfEmpty(formData.agentInfo?.mobile),\n    agent_email: nullIfEmpty(formData.agentInfo?.email),\n    message_for_ba: nullIfEmpty(formData.messageForBA),\n    attachments_additional_dialogue: nullIfEmpty(formData.attachmentsAdditionalDialogue),\n    push_record_to_deal_sheet: nullIfEmpty(formData.pushRecordToDealSheet),\n    lot_number: null,\n    project_parent_id: null,\n    project_identifier: null,\n    is_parent_record: null,\n    project_brief: null,\n    project_overview: null\n  }\n};\n\n   // Return the JSON string directly\nreturn JSON.stringify(payload);"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 674,
                                    "y": -156
                                },
                                "restore": {
                                    "expect": {
                                        "language": {
                                            "mode": "chose",
                                            "label": "JavaScript"
                                        },
                                        "input": {
                                            "items": [
                                                null
                                            ]
                                        },
                                        "inputFormat": {
                                            "label": "Code editor"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "language",
                                        "type": "select",
                                        "label": "Language",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "javascript",
                                                "python"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "input",
                                        "type": "array",
                                        "label": "Input",
                                        "spec": {
                                            "type": "collection",
                                            "label": "Variable",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[a-zA-Z0-9_]{1,32}$",
                                                        "min": 1,
                                                        "max": 32
                                                    },
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Value"
                                                }
                                            ],
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "dependencies",
                                        "type": "array",
                                        "label": "Additional dependencies (Enterprise plans only)",
                                        "spec": {
                                            "type": "text",
                                            "required": true,
                                            "label": "Dependency",
                                            "validate": {
                                                "pattern": "^[A-Za-z0-9_@\\./<>\\=\\!~\\^+\\-]{1,214}$",
                                                "min": 1,
                                                "max": 214
                                            },
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "inputFormat",
                                        "type": "select",
                                        "label": "Input format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "editor",
                                                "string"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "codeEditorJavascript",
                                        "type": "editor",
                                        "label": "Code",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth",
                                "tlsType": "",
                                "proxyKeychain": ""
                            },
                            "mapper": {
                                "url": "https://services.leadconnectorhq.com/objects/692d04e3662599ed0c29edfa/records",
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer pit-d375efb5-f445-458d-af06-3cbbb4b331dd"
                                    },
                                    {
                                        "name": "Version",
                                        "value": "2021-07-28"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "contentType": "custom",
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true,
                                "contentTypeValue": "application/json",
                                "rawBodyContent": "{{21.result}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1071,
                                    "y": -172
                                },
                                "restore": {
                                    "parameters": {
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials is required for the request."
                                        },
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        }
                                    },
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null,
                                                null
                                            ]
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "CustomEnter data using a custom content type, such as text/plain."
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": {
                                            "name": "value",
                                            "label": "Header",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "label": "Name",
                                                    "type": "text",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "label": "Value",
                                                    "type": "text"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "name": "queryParameters",
                                        "type": "array",
                                        "label": "Query parameters",
                                        "spec": {
                                            "name": "value",
                                            "label": "Parameter",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "label": "Name",
                                                    "type": "text",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "label": "Value",
                                                    "type": "text"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "min": 1,
                                            "max": 300
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "contentTypeValue",
                                        "type": "text",
                                        "label": "Content type value",
                                        "required": true
                                    },
                                    {
                                        "name": "rawBodyContent",
                                        "type": "buffer",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "label": "Data",
                                        "type": "any"
                                    },
                                    {
                                        "name": "statusCode",
                                        "label": "Status Code",
                                        "type": "number"
                                    },
                                    {
                                        "name": "headers",
                                        "label": "Headers",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "label": "Content-Length",
                                                "type": "text"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "label": "Content-Encoding",
                                                "type": "text"
                                            },
                                            {
                                                "name": "content-type",
                                                "label": "Content-Type",
                                                "type": "text"
                                            },
                                            {
                                                "name": "server",
                                                "label": "Server",
                                                "type": "text"
                                            },
                                            {
                                                "name": "cache-control",
                                                "label": "Cache-Control",
                                                "type": "text"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "label": "Set-Cookie",
                                                "type": "array",
                                                "spec": {
                                                    "type": "text"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth",
                                "tlsType": "",
                                "proxyKeychain": ""
                            },
                            "mapper": {
                                "url": "https://services.leadconnectorhq.com/objects/692d04e3662599ed0c29edfa/records/{{14.data.record.id}}?locationId=UJWYn4mrgGodB7KZUcHt",
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer pit-d375efb5-f445-458d-af06-3cbbb4b331dd"
                                    },
                                    {
                                        "name": "Version",
                                        "value": " 2021-07-28"
                                    }
                                ],
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1360,
                                    "y": -183
                                }
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Project",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.formData.decisionTree.lotType}}",
                                            "o": "text:equal",
                                            "b": "Multiple"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "incoming_data",
                                "scope": "roundtrip",
                                "value": "{{`1`}}"
                            }
                        },
                        {
                            "id": 9,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth",
                                "tlsType": "",
                                "proxyKeychain": ""
                            },
                            "mapper": {
                                "url": "https://services.leadconnectorhq.com/objects/692d04e3662599ed0c29edfa/records",
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer pit-d375efb5-f445-458d-af06-3cbbb4b331dd"
                                    },
                                    {
                                        "name": "Version",
                                        "value": "2021-07-28"
                                    }
                                ],
                                "contentType": "json",
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true,
                                "inputMethod": "jsonString",
                                "jsonStringBodyContent": "{\r\n  \"locationId\": \"UJWYn4mrgGodB7KZUcHt\",\r\n  \"properties\": {\r\n    \"property_address\": \"{{6.incoming_data.formData.address.projectAddress}}\",\r\n    \"is_parent_record\": \"Yes\",\r\n    \"project_identifier\": \"PROJ-{{formatDate(now; \"YYYYMMDD-HHmmss\")}}\",\r\n    \"folder_link\": \"{{6.incoming_data.formData.folderLink}}\"\r\n  }\r\n}"
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}
